apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: telegram-bots
stringData:
  MYSQL_DATABASE: crashers_bot
  MYSQL_USER: crashers_bot
data:
  MYSQL_PASSWORD: {MYSQL_PASSWORD}
  MYSQL_ROOT_PASSWORD: {MYSQL_ROOT_PASSWORD}
