apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: telegram-bots
stringData:
  MYSQL_DATABASE: crashers_bot
  MYSQL_USER: crashers_bot
  S3_ENDPOINT: https://ams3.digitaloceanspaces.com
  S3_BUCKET: crashers-bot-backups
  S3_REGION: us-east-1
data:
  MYSQL_PASSWORD: <MYSQL_PASSWORD>
  MYSQL_ROOT_PASSWORD: <MYSQL_ROOT_PASSWORD>
  S3_KEY: <S3_KEY>
  S3_SECRET: <S3_SECRET>
