apiVersion: v1
kind: Secret
metadata:
  name: crashers-bot-secret
  namespace: telegram-bots
stringData:
  TELEGRAM_BOT_USERNAME: CrashersBot
  TELEGRAM_BOT_WEBHOOK: https://crashers-bot.cash-track.app
data:
  APP_KEY: {APP_KEY}
  TELEGRAM_BOT_TOKEN: {TELEGRAM_BOT_TOKEN}
  TELEGRAM_BOT_WEBHOOK_TOKEN: {TELEGRAM_BOT_WEBHOOK_TOKEN}
